<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body
    style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">

    <div
        style="background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 400px; width: 100%;">
        <h1 style="text-align: center; color: #ff9800; margin-bottom: 20px;">Reset Password</h1>
        <form style="display: flex; flex-direction: column;">
            <input id="password" type="password" placeholder="New Password"
                style="padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
            <input id="confirm_password" type="password" placeholder="Confirm Password"
                style="padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
            <button type="submit" onclick='sendPassword()' style="padding: 10px; background-color: #ff9800; border: none; border-radius: 5px; color: white; font-size: 16px; cursor: pointer;">
                Reset Password
            </button>
        </form>
    </div>
    <script>

        function sendPassword() {
            const urls = new URLSearchParams(window.location.search)
            const token = urls.get("token")
            const email = urls.get("email")
            console.log(urls)

            const password = document.getElementById("password").value;
            const confirm_password = document.getElementById("confirm_password").value
            if (password !== confirm_password) {
                return alert("please enter same password again ")
            };
            fetch('/auth/reset_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    password: password,
                    confirm_password: confirm_password,
                    token: token,
                    email: email
                })
            })
                .then(response => response.json()) 
                .then(data => {
                    alert(data)
                })
                .catch(error => {
                    alert('Error')
                    console.error('Error:', error);
                });
        }
    </script>

</body>

</html>